body{
    margin: 0;
    background: #e7e5df;
    text-align: center;
}
 p{
    color: #000000 !important;
  }
  h1{
    color: #000000 !important;
  }
.p1{
  font: bold; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.h1{
   font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}
